/* Variables */

:root {
  --shadow: rgba(0, 1, 1, 0.2);

  --basic-white: #FFFFFF;
  --basic-white-alpha-03: rgba(255, 255, 255, 0.3);
  --basic-white-alpha-09: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --basic-black-alpha-03: rgba(0, 0, 0, 0.3);

  --red: #FF0000;

  --basic-grey: #ABABAB;
  --grey: #EEEEEE;
  --grey-extra: #BDBBBC;
  --grey-dark: #E5E5E5;
  --grey-dark-extra: #EBEBEB;
  --grey-light: #F2F2F2;
  --grey-light-extra: #A9A9A9;


  --blue: #81B3D2;
  --blue-dark: #669EC0;
  --blue-dark-extra: #5496BD;

  --brown: #766357;
  --brown-dark: #604E43;
  --brown-dark-extra: #503E33;
}

/* Global */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--grey-light);
}

a {
  text-decoration: none;
}

.footer-social,
.site-navigation {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.shadow-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px var(--shadow);
}

/* Main navigation */

.main-navigation {
  position: relative;
  padding: 15px 72px;
  font-size: 14px;
  line-height: 26px;
}

/* Main navigation_Logo */

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

/* Site navigation */

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  justify-self: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  justify-self: right;
}

.site-navigation a,
.hotel-name a {
  color: var(--basic-black)
}

.site-navigation a:hover,
.hotel-name a:hover {
  color: var(--blue);
}

.site-navigation a:active,
.hotel-name a:active {
  color: var(--basic-black-alpha-03);
}

.site-navigation .active {
  color: var(--brown);
}

/* Banner */

.banner {
  background-image: url("../img/banner_background photo.jpg");
  background-color: var(--brown-dark-extra);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 82px;
  background-size: cover;
}

/* .banner-phrase {
  padding-top: 77px;
} */

/* Intro to features */

.intro-to-features-section {
  padding-top: 41px;
  padding-bottom: 51px;
  text-align: center;
}

.intro-slogan {
  margin: 0;
  margin-bottom: 48px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.intro-text {
  margin: 0;
  font-weight: normal;
  line-height: 26px;
}

/* Features */

.features {
  text-align: center;
}

.main-features-list,
.sub-feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-features-item {
  grid-column: 1 / -1;
}

.main-features-item:nth-of-type(3) {
  grid-column: 1 / 2;
  background-color: var(--grey);
  color: var(--basic-black);
  margin: 0;
}

.main-features-item:nth-of-type(4) {
  grid-column: 2 / 3;
  background-color: var(--grey);
  color: var(--basic-black);
  margin: 0;
}

.main-features-item:nth-of-type(5) {
  grid-column: 3 / 4;
  background-color: var(--grey);
  color: var(--basic-black);
  margin: 0;
}

.main-features-item {
  color: var(--basic-white);
}

/* Main features Block with subfeatures */

.item-with-subfeatures {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  margin: 0;
  padding: 0;
}

.main-features-item__inner {
  padding: 47px 50px 52px 50px;
  background-color: var(--blue);
}

.main-features-item__inner h3 {
  display: block;
  margin: 0 0 24px;
}

.main-features-item__inner p {
  display: block;
  margin: 0;
}

.main-features-item__inner span {
  display: block;
  margin-bottom: 23px;
}

.photo-town-description {
  grid-column: 2 / -1;
}

.sub-feature-list {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* Subfeatures */

.sub-feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sub-features-item {
  padding: 55px 73px 82px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sub-features-item h3::before {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 75px;
  height: 77px;
}

.feature-icon-house h3::before {
  background-image: url("../img/feature_icon_1.svg");
}

.feature-icon-burger h3::before {
  background-image: url("../img/feature_icon_2.svg");
}

.feature-icon-present h3::before {
  background-image: url("../img/feature_icon_3.svg");
}

.sub-features-item h3 {
  display: block;
  margin: 0;
  margin-bottom: 25px;
}

/* Item without subfeatures */

.item-single {
  display: grid;
  grid-template-columns: 800px 1fr;
  margin: 0;
  padding: 0;
}

.feature-background-2 {
  background-image: url("../img/feature_background_2.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 256px;
}

.item-single .main-features-item__inner{
  grid-column: -2 / -1;
}

/* Items grey */

.main-features-item:nth-of-type(3),
.main-features-item:nth-of-type(4),
.main-features-item:nth-of-type(5) {
  padding: 47px 69px 54px;
}

.main-features-item:nth-of-type(3) h3,
.main-features-item:nth-of-type(4) h3,
.main-features-item:nth-of-type(5) h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.main-features-item:nth-of-type(3) span,
.main-features-item:nth-of-type(4) span,
.main-features-item:nth-of-type(5) span {
  display: block;
  margin-bottom: 23px;
}

.main-features-item:nth-of-type(3) p,
.main-features-item:nth-of-type(4) p,
.main-features-item:nth-of-type(5) p {
  margin: 0;
  padding: 0;
}

/* Search */

.search {
  text-align: center;
  padding-top: 58px;
}

.search span {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 39px;
}

.search > p {
  line-height: 24px;
  margin: 0;
  margin-bottom: 45px;
}

.search-open-button {
  width: 568px;
  display: inline-block;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
  color: var(--basic-white);
  font-weight: 700;

}

.search-open-button:hover {
  background-color: var(--brown-dark);
}

.search-open-button:active {
  background-color: var(--brown-dark-extra);
  color: var(--basic-white-alpha-03);
}

.search-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 568px;
  margin:0 auto;
  padding: 55px;
  background-color: var(--basic-white);
}

.search-form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 26px;
}

.search-form-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.search-form-item:last-of-type {
  margin-bottom: 54px;
}

.date-input {
  width: 346px;
  margin: 0;
  border: none;
  background-color: var(--grey-light);
  padding: 10px 37px 10px 13px;
}

.date-input,
.amount-input,
.date-input::placeholder,
.amount-input::placeholder {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
 }

.calendar-icon {
  padding: 0;
  background-color: transparent;
  position: absolute;
  border: none;
  right: 8px;
}

.adult-amount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 226px;
  margin: 0;
  margin-right: 53px;
}

.children-amount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 179px;
  margin: 0;
}

.amount-input {
  width: 114px;
  border: none;
  background-color: var(--grey-light);
  padding: 10px 37px;
  text-align: center;
}

.amount-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  position: absolute;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.button-minus {
  right: 85px;
}

.button-plus {
  right: 5px;
}

.search-form-item:last-child {
  margin-bottom: 54px;
}

.date-input:hover,
.amount-input:hover {
  background-color: var(--grey-dark-extra);
}

.date-input:focus,
.amount-input:focus {
  box-sizing: border-box;
  background-color: transparent;
  outline: 2px solid var(--grey-dark);
  outline-offset: -2px;
}

.amount-button,
.calendar-icon {
  color: var(--grey-light-extra);
}

.amount-button:hover,
.calendar-icon:hover {
  color: var(--basic-black);
}

.amount-button:active,
.calendar-icon:active {
  color: var(--blue);
}

.button-find {
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--blue);
  color: var(--basic-white);
  font-weight: 700;
  border: none;
  padding: 16px 0;
}

.button-find:hover {
  background-color: var(--blue-dark);
}

.button-find:active {
  background-color: var(--blue-dark);
  color: var(--basic-white-alpha-03);
}

.search-map {
  background-image: url("../img/search_menu_map.png");
  background-color: var(--grey);
  background-size: cover;
  background-repeat: no-repeat;
  height: 593px;
  text-align: center;
}

/* Main footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items:center;
  margin-top: -120px;
  padding-top: 25px;
  padding-bottom: 36px;
  color: var(--basic-black);
  background-color: var(--basic-white-alpha-09);
}

.inner-footer {
  margin-top: 0;
}

.main-footer a {
  color: var(--basic-black);
  font-weight: 700;
}

.footer-contacts {
  margin: 0;
  text-align: center;
}

.footer-contacts p {
  display: block;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.footer-contacts p:first-child {
  margin-bottom: 19px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  justify-self: center;
  width: 150px;
}

.footer-social .social-button {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--blue-dark);
}

.social-button:active {
  color: var(--basic-white-alpha-03);
  background-color: var(--blue-dark-extra);
}

.footer-copyright {
  display: inline-flex;
  max-width: 300px;
  justify-self: center;
}

.copyright-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.copyright-button p {
  margin: 0px;
  margin-right: 8px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-copyright .copyright-button {
  font-weight: 400;
}

.copyright-button:hover svg {
  color: var(--blue);
}

.copyright-button:active svg {
  color: var(--grey-extra);
}

/*   INNER PAGE   */
/* Filters */

 .filters {
  color: var(--basic-white);
  background-color: var(--brown);
  background-image: url("../img/inner-page_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  display: flex;
  padding: 27px 72px;
  padding-bottom: 14px;
  justify-content: flex-start;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 253px;
  padding-right: 15px;
}

.filter fieldset:nth-child(2n) {
  margin-right: 232px;
}

.filter fieldset:nth-child(3n) {
  width: 317px;
  padding-right: 0;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}

.filter ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

 .filter-option {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-left: 40px;
  margin-bottom: 23px;
 }

 .filter-option label {
   position: relative;
   display: block;
   user-select: none;
 }

.filter-input-checkbox + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.filter-item legend {
  margin-bottom: 10px;
}

.range-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 317px;
}

.price-controls {
  position: relative;
  display: flex;
  width: inherit;
  justify-content: space-between;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.price-controls label {
  text-transform: uppercase;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 65px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 68px;
  text-align: left;
  color: var(--basic-white);
  border: none;
  border-radius: 5px;
  background: transparent;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.range-controls {
  width: inherit;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 20px;
  margin-bottom: 10px;
  height: 42px;
  background-color: transparent;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white-alpha-03);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--basic-grey);
}

.toggle:hover {
  width: 23px;
  height: 23px;
}

.range-controls .toggle-max {
  left: 240px;
}

.filter-button {
  color: var(--baxic-white);
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  padding: 8px 36px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Sort by */

.sort-block {
  display: flex;
  padding: 29px 73px;
  align-items: center;
}

.sort-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result-amount {
  margin-right: 46px;
}

.sort-block span:nth-of-type(2) {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort-block .sort {
  min-width: 239px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.search-result-amount {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort {
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort-block .sort-by-order {
  display: flex;
  min-width: 34px;
  justify-content: space-between;
  padding-top: 5px;
}

.sort a {
  color: var(--basic-black-alpha-03);
  border-bottom: 1px dotted var(--blue);
}

.sort a:hover {
  color: var(--blue);
}

.sort a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort .active {
    color: var(--blue);
    border-bottom: 1px dotted transparent;
}

.sort-by-order a,
.sort-by-order a:link {
  color: var(--basic-black-alpha-03);
}

.sort-by-order a:hover {
  color: var(--basic-black);
}

.sort-by-order a:active {
  color: var(--blue);
}

/* Catalog */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item:first-child {
  border-top: 1px solid var(--grey-dark);
}

.catalog-item {
  display: grid;
  grid-template-columns: 135px 1fr 155px;
  margin:0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 71px;
  border-bottom: 1px solid var(--grey-dark);
}

.item-info {
  padding: 0 29px;
  display: grid;
  grid-template-columns: 110px 142px;
  grid-column-gap: 6px;
  align-items: start;
}

.item-info h3 {
  margin: 0 0 7px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.catalog-category {
  margin-bottom: 15px;
}

.item-info-detail {
  background-color: var(--blue);
  color: var(--basic-white);
  font-weight: 700;
  padding: 5px;
}

.item-info span,
.item-info .item-info-detail,
.item-info .item-booking {
  display: block;
}

.item-info .item-info-detail,
.item-info .item-booking {
  text-align: center;
  padding: 4px 16px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.rating span {
  display: inline-flex;
  margin: 0;
  padding: 4px 12px;
  background-color: var(--grey-light);
  background-size: cover;
}

.item-info-detail:hover {
  background-color: var(--blue-dark);
}

.item-info-detail:active {
  background-color: var(--blue-dark);
  color: var(--basic-white-alpha-03);
}

.item-booking {
  background-color: var(--brown);
  color: var(--basic-white);
  font-weight: 700;
  padding: 5px;
}

.item-booking:hover {
  background-color: var(--brown-dark);
}

.item-booking:active {
  background-color: var(--brown-dark);
  color: var(--basic-white-alpha-03);
}
