/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --transparency-white: rgba(255, 255, 255, 0.9);

  --red: #FF0000;

  --grey: #EEEEEE;

  --blue: #81B3D2;
  --blue-dark: #669EC0;
  --blue-dark-extra: #5496BD;

  --brown: #766357;
  --brown-dark: #604E43;
  --brown-dark-extra: #503E33;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

/*User navigation*/

.site-navigation a {
  color: var(--basic-black)
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--blue);
}

/* Banner */

/* Intro to features */

.intro-to-features {
  text-align: center;
}

.intro-to-features.slogan {
  font-size: 21px;
  line-height: 26px;
}

.intro-to-features.intro {
  font-weight: normal;
  line-height: 26px;
}

/* Features */

.main-features-list,
.sub-feature-list {
 list-style: none;
}

.main-features-item,
.sub-feature-item {
 text-align: center;
}

.features-list h3 {
  font-size: 21px;
}

.main-features-item {
  background-color: var(--blue);
  color: var(--basic-white);
}

.sub-features-item {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.grey-item {
  background-color: var(--grey);
  color: var(--basic-black);
}

/* Search menu */

.search-menu {
  text-align: center;
}

.search-menu span {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-menu p {
  line-height: 24px;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--transparency-white);
}

.main-footer  a {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}
